<h1>Все книги</h1>
<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<div class="container">
  
  <div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag book.book_images.last.file_url(:thumb) %>
        <div class="caption">
          <h3 class="block"><%= book.title %></h3>
          </p>
          <p><%= link_to 'Далее..', book_path(book), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div> 
  <% end %>
  </div>
  
</div>