<%= simple_form_for [@book, @book.rates.build] do |f| %>
    <div>
       <%= f.input :value, label: "Поставьте свою оценку. Выберите цифру от 1 до 5", input_html: { min: '1', max: '5' } %>
    </div>

    <%= f.submit %>
<% end %>
